#tempData {
	display: none;
}





#mainInfo {
	border-collapse: collapse;
	width: 100%;
}

#mainInfo td, #mainInfo th {
	border: 1px solid #ddd;
	padding: 8px;
}

#mainInfo th {
	padding: 5px 5px 5px 5px;
	text-align: center;
	background-color: #4CAF50;
	color: white;
}

#mainInfo tr:nth-child(even){
	background-color: #f2f2f2;
}





#toggleTimetable {
	position: absolute;
	top: 5px;
	right: 25px;
}





#timetablePreview {
	background-color: #ffffff;
	position: absolute;
	top: 30px;
	right: 5px;
	font-size: 10pt;
	display: none;
}

#timetablePreview, #timetablePreviewTerm1, #timetablePreviewTerm2 {
	border-collapse: collapse;
}

#timetablePreview td, #timetablePreview th {
	border: 1px solid #ddd;
	text-align: center;
}

.timetableHeading {
	width: 100%;
	text-align: center;
	background-color: #0f95e2;
	color: white;
}

.termHeading {
	width: 100%;
	text-align: center;
	background-color: #4CAF50;
	color: white;
}













